<html>

<head>
<meta charset="UTF-8">
<title>Concorrencia | Eshows</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">


<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
<link rel="stylesheet" href="https://cdn.rawgit.com/jgthms/bulma/master/css/bulma.min.css">

<link rel="stylesheet" href="css/index.css">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.4/dist/css/bulma-carousel.min.css">

</head>
<body>
{% include "nav.html" %}

<main class="container" id="nova">

<div class="columns">
  <div class="column is-2"></div>
  <div class="column is-8">
	<h1 class="title">Nova Concorrência</h1>
		<div class="field">
			<label class="label">Cliente</label>
			<div class="field-body control">
					<input class="input" type="text" placeholder="Cliente">
			</div>
		</div>


		<div class="field is-horizontal">
  		<div class="field-body">
				
				<div class="field">
					<label class="label">Nome</label>
					<div class="field-body control">
							<input class="input" type="text" placeholder="Cliente">
					</div>
				</div>
				
				<div class="field">
					<label class="label">Telefone</label>
					<div class="field-body control">
							<input class="input" type="text" placeholder="Cliente">
					</div>
				</div>

				<div class="field">
					<label class="label">Email</label>
					<div class="field-body control">
							<input class="input" type="text" placeholder="Cliente">
					</div>
				</div>

			</div>
		</div>
		<div class="field is-horizontal">
  		<div class="field-body">
				
				<div class="field">
					<label class="label">Local</label>
					<div class="field-body control">
							<input class="input" type="text" placeholder="Cliente">
					</div>
				</div>
				
				<div class="field">
					<label class="label">Cidade</label>
					<div class="field-body control">
							<input class="input" type="text" placeholder="Cliente">
					</div>
				</div>

				<div class="field">
					<label class="label">Bairro</label>
					<div class="field-body control">
							<input class="input" type="text" placeholder="Cliente">
					</div>
				</div>

			</div>
		</div>

<div class="field is-horizontal">
  <div class="field-body">
    <div class="field">
      <label class="label">Estilo</label>
		<div class="control">
			<div class="select">
				<select id="estilos">
			<option value="">Selecione</option>
				</select>
			</div>
		</div>
    </div>
    <div class="field">
      <label class="label">Ocasião</label>
		<div class="control">
			<div class="select">
				<select id="ocasiao">
			<option value="">Selecione</option>
				</select>
			</div>
		</div>
    </div>
    <div class="field">
      <label class="label">Formação</label>
		<div class="control">
			<div class="select" id="">
				<select id="formacao">
			<option value="">Selecione</option>
				</select>
			</div>
		</div>
    </div>
  </div>
	
</div>


<div class="field is-horizontal">
  <div class="field-body">
		<div class="field">
				<label class="label">Data</label>
		<input class="input" type="date" placeholder="Text input">
		</div>

    <div class="field">
		<label class="label">Início</label>
		<div class="field-body control">
				<input class="input" type="text" placeholder="Digite o horário do Início">
		</div>
		</div>
		<div class="field">
			<label class="label">Término</label>
			<div class="field-body control">
					<input class="input" type="text" placeholder="Digite o horário do Término">
			</div>
		</div>
	
	</div>
</div>

	
<div class="field is-horizontal">
  <div class="field-body">

			<div class="field">
					<label class="label">Cachê</label>
					<div class="field-body control">
							<input class="input" type="text" placeholder="Digite o valor do cachê">
					</div>
			</div>

			<div class="field">
					<label class="label">Cachê Máximo</label>
					<div class="field-body control">
							<input class="input" type="text" placeholder="Digite o valor do cachê máximo">
					</div>
			</div>

		</div>
	</div>

	<div class="field">
			<label class="label">informações adicionais</label>
			<div class="field-body control">
					<input class="input" type="text" placeholder="Digite as informações adicionais">
			</div>
	</div>



	<div class="field is-grouped">
			<div class="control">
					<button class="button is-link">Publicar</button>
			</div>
			<div class="control">
					<button class="button is-text">Cancelar</button>
			</div>
	</div> 
	</div>
  <div class="column is-2"></div>
</div>

	 



</main>

<script src="/js/estilos.js"></script>
<script src="/js/ocasiao.js"></script>
<script src="/js/formacao.js"></script>

{% include "footer.html" %}


